/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

//#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/led/led.h>
#include "../nrf54l15-bindings.h"

&xiao_spi {
	compatible = "nordic,nrf-spim";
	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		/* WS2812 LED strip configuration */
		reg = <0>;                  /* P2.08 (D6/TX on XIAO nRF54L15) - FLPR can only use Port 2! */
		spi-max-frequency = <SPI_FREQ>;

		/* WS2812 */
		chain-length = <90>; /* arbitrary; change at will */
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
		spi-one-frame = <ONE_FRAME>;
		spi-zero-frame = <ZERO_FRAME>;
	};

	
};

/ {
	aliases { 
		led-strip = &led_strip;
		pov-timer = &timer20; /* Use TIMER20 for POV frame timing */
	};

	chosen {
		zephyr,bt-hci = &bt_hci_controller;
		zephyr,console = &uart20;
		nordic,rpc-uart = &uart20;
	};

	zephyr,user {
		m2-gpios = <&gpio2 8 0>;
		pwms = <&pwm20 0 20 PWM_POLARITY_NORMAL>;
	};
};

&pwm20 {
	pinctrl-0 = < &xiao_d 5 0>;
};

/* Configure TIMER20 for POV frame updates */
&timer20 {
	status = "okay";
};

/* Enable GPIO port 2 for WS2812 data pin (FLPR requirement) */
//&gpio2 {
//	status = "okay";
//};

/* Enable MBOX communication with FLPR core */
&cpuapp_vevif_tx {
	status = "okay";
};

&cpuapp_vevif_rx {
	status = "okay";
};



&xiao_d {

	status = "okay";
};

/* PWM for motor control - DRV8833 
 * Motor IN1 on P1.11 (D5) - controlled by PWM20 (Port 1 supports PWM)
 * Motor IN2 on P2.08 (D6) - controlled by GPIO (Port 2 doesn't support PWM)
 * D10 (P2.02) - WS2812 data (no conflict)
 */
&pwm20 {
	status = "okay";
	pinctrl-0 = <&pwm20_default>;
	pinctrl-1 = <&pwm20_sleep>;
	pinctrl-names = "default", "sleep";
};

&pinctrl {
	pwm20_default: pwm20_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 1, 11)>;  /* D5/P1.11 - Motor IN1 */
		};
	};
	
	pwm20_sleep: pwm20_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 1, 11)>;
			low-power-enable;
		};
	};
};

&pdm20 {
	status = "disabled";
};

&i2c22 {
	status = "disabled";
};

&adc {
	status = "disabled";
};

&uart21 {
	status = "disabled";
};

&bt_hci_controller {
	status = "okay";
};
